.ant-layout {
    height: 100vh;
}

.ant-message {
    top: 75px;
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

main .content {
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ant-row {
    padding: 5px;
}

.ant-col {
    display: flex;
    justify-content: center;
}

.ant-form-item {
    margin-bottom: 0;
}